*{
  margin: 0;
}
div.quadrado{
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(0, 118, 118);
  height: 170px;
  margin: 10px;
  background-image: url(../imgs-css/imagens/wallpaper003.jpg);
  background-size: 100%;

}

div#q1{
  background-position: left top;
}

div#q2{
  background-position: left bottom;
}

div#q3{
  background-position: center center;
}

div#q4{
  background-position: right bottom;
}

